/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
header{
  position:relative;
    border-bottom: 8px solid rgba(102, 111, 116, 0.66);
}
/* Carousel base class */
.carousel {
  position: relative;
  width: 100%;
  top:0;
}
.navbar {
  position:absolute;
  z-index:10;
  width:100%;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 1000px;
  background-color: #777;
}
.carousel-item > img {
  position: relative;
  left: 0;
  min-width: 100%;
  height: 1000px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

.trans{
  background: transparent;
}
#menu > div > div > div.col-lg-auto > ul > li > a{
  color: white;
}
#menu > div > div > div.col-lg-auto > ul > li > a:hover{
  color: #fe965c;
}
#menu > div> div > div > ul > li > a{
  color: white;
}
#search{
  z-index: 100;
  position: relative;
  top:330px;
  padding-left: 180px;
  padding-right: 100px;
}
#search_form select{
    border-radius: 4.3rem;
    text-align-last:center;
}
#login{
  z-index: -1;
  position: relative;
  top:350px;
  padding-left: 20%;
}
#login>p{
    color: white;
    font-size: 23px;
    left: -199px;
    position: relative;
}
#login a{
    color: white;
    font-style: italic;
}
#login input[type="email"],#login input[type="password"]{
    opacity: 0.7;
}
.form-control-lg{
  background-color: white;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
#login > div.form-group.col-12 > a{
     position: relative;
     left: 317px;
    padding-left: 69px;
    padding-right: 69px;
 }
#offres,#carriere{
    margin: 20px;
    position: relative;
}

#offres .action .btn-group{
    background-color: #c1c1c1;
    border-radius: 14px;
}

#offres .action .btn-group a{
    color: white;
}
.pagination > li > a{
    z-index: 3;
    color: white;
    background-color: #db5c4f;
    border-color: #ddd;
}
.pagination > li > a:hover{
    color: #db5c4f;
    background-color: white;
}
#carriere{
    background-image: url("../images/carriere.png");
    background-repeat: no-repeat;
    height: 600px;
    margin-right: 0px;
    margin-left: 0px;
}
#carriere_content{
    position: relative;
    top: 200px;
    right: 163px;
}
#carriere_content h1{
    font-size: 70px;
}
#carriere_content p{
    font-size: 22px;
    font-weight: 100;
}
#carriere_content .item img{
    padding-right: 15px;
    border-right: 3px solid #db5c4f;
    margin-right: 10px;
}
#carriere_content span{
    color: #db5c4f;
    font-size: large;
}